<body onload="initialize()">
  <div class="container">
    <div id="earth_div">
      <div id="buttons">
        <input type="button" value="Zoom to level 1" onclick="setView(1);">
        <input type="button" value="Zoom to level 2" onclick="setView(2);">
        <input type="button" value="Zoom to level 3" onclick="setView(3);">
        <input type="button" value="Zoom to level 4" onclick="setView(4);">
        <input type="button" value="Zoom to level 5" onclick="setView(5);">
      </div>
    </div>
  </div>
</body>
<script src="http://www.webglearth.com/v2/api.js"></script>
<script>
  let earth;
  function initialize() {
    var options = {
          sky: true,
          dragging: true,
          tilting: true,
          center: [<%= @lat %>, <%= @lng %>],
          zoom: 2
        };
    earth = new WE.map('earth_div', options);
    WE.tileLayer('http://tileserver.maptiler.com/nasa/{z}/{x}/{y}.jpg', {
          minZoom: 0,
          maxZoom: 5,
          attribution: 'NASA'
        }).addTo(earth);
    earth.setView([<%= @lat %>, <%= @lng %>], 2);
    var tweets = [
      ["@Jae-Hee: Wheee", -33.867916, 151.205969],
      ["@Serene: Help", -40.99497, 174.50808],
      ["@Josh: Calm", -41.49413, 173.5421],
      ["@God: Save Us All", -40.98585, 174.50659]
    ];
    tweets.forEach(function(tweet) {
      var [message, lat, lng] = tweet
      var marker = WE.marker([lat, lng], '/assets/Twitter.png', 30, 30).addTo(earth);
      marker.bindPopup(message);
      marker.on('mouseover', function(e) {
        console.log(e);
        console.log(this);
        marker.openPopup();
      });
      marker.on('mouseout', function(e) {
        marker.closePopup();
      });
    })
  }
  const setView = function(zoom) {
    earth.setView([<%= @lat %>, <%= @lng %>], zoom);
  }
</script>
