<body onload="initialize()">
  <div class="container">
    <div id="earth_div">
      <form action="/pages/globe" class="searchBar" >
        <input type="text" name="address" placeholder="Search for a location" class="searchInput">
        <button class="searchButton">Search</button>
      </form>
      <div class="zoombuttons">
        <input type="button" value="Zoom to 1" onclick="setView(1);"><br>
        <input type="button" value="Zoom to 2" onclick="setView(2);"><br>
        <input type="button" value="Zoom to 3" onclick="setView(3);"><br>
        <input type="button" value="Zoom to 4" onclick="setView(4);"><br>
        <input type="button" value="Zoom to 5" onclick="setView(5);">
        <div id="slidecontainer">
          <input type="button" value="-" onclick="setViewminus();"><input type="range" min="1" max="5" value="3" class="slider" step="1" id="myRange" onchange="showValue(this.value), setView(this.value)"/><input type="button" value="+" onclick="setViewplus();">
          <br>
          <span id="range">3</span>
        </div>
        <div id="tweetbox">
          <% @searches.each do |tweet| %>
          <ul>
            <li>
              <span><%= tweet.screen_name %></span>
              <%= tweet.text %>
            </li>
          </ul>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="//www.webglearth.com/v2/api.js"></script>
<script>
  let earth;
  function initialize() {
    var options = {
          sky: true,
          dragging: true,
          tilting: true,
          zoom: 2
        };
    earth = new WE.map('earth_div', options);
    WE.tileLayer('//{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
          attribution: '© OpenStreetMap'
        }).addTo(earth);
    earth.setView([<%= @lat %>, <%= @lng %>], 2);
    var tweets = <%== @tweet_locations.to_json %>;
    tweets.forEach(function(tweet) {
      var [message, lat, lng] = tweet
      var marker = WE.marker([lat, lng], '/assets/twitter.png', 30, 30).addTo(earth);
      marker.bindPopup(message);
      marker.on('mouseover', function(e) {
        marker.openPopup();
      });
      marker.on('mouseout', function(e) {
        marker.closePopup();
      });
    })
  }
  const setView = function(zoom) {
    earth.setView([<%= @lat %>, <%= @lng %>], zoom);
  }
  function showValue(newValue){
    document.getElementById("range").innerHTML=newValue;
}
</script>
