<div class="container">
  <form action="/pages/locationPicker" class="searchBar" >
    <input type="text" name="hashtag" placeholder="Search for a hashtag" class="searchInput">
    <button class="searchButton">Search</button>
  </form>

  <h1>picker</h1>

  <div class="bottomContainer">

    <div id="geoLocationResultsContainer">

      <!-- <a href="#"><p><%= @infoResults %></p></a> -->

      <% @infoResults.each do |r| %>

      <form id="myform" method="post" action="/pages/globe">
        <input type="hidden" name="lat" value="<%= r['geometry']['location']['lat'] %>" />
        <input type="hidden" name="lng" value="<%= r['geometry']['location']['lng'] %>" />
        <a onclick="document.getElementById('myform').submit();"><%= r['formatted_address']%></a>
      </form>

      

        <!-- <form action="/pages/lookup">
          <a href="" method="post">
            <div class="geoLocationResults">

              <p><%= r["formatted_address"]%></p>
              <p><%= r["geometry"]["location"] %></p>
              <% @location = r["geometry"]["location"] %>
            </div>
          </a>
        </form> -->
      <% end %>

    </div>




    <a class="twitter-share-button"
      href="https://twitter.com/share"
      data-size="large"
      data-text="custom share text"
      data-url="https://dev.twitter.com/web/tweet-button"
      data-hashtags="example,demo"
      data-via="twitterdev"
      data-related="twitterapi,twitter">
    Tweet
    </a>
  </div>

</div>
